<div class="main">
    <% @movies.each do |m|%>
        <%= image_tag m.image %>
        <%= m.title %>
        <%= m.release_year %>
        <%= m.plot %>
        <%= link_to "See details", movie_path(m) %>
    <%end%>
</div>